<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Smoke.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cookie Clicker </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lead development for merging of code and debugging of code</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Tachanka.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Leap Frog </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lead development for merging of code and debugging of code</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
